
@using HackPSU_2016.Models
@model HackPSU_2016.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row HomePageUserScroller">
    <div class="NavArrows Left">
        <a class="Icon LeftArrow"></a>
    </div>
    
    @if (Model.joinedGroups.Count != 0)
    {
    foreach (var g in Model.joinedGroups)
    {
        <a href="@Url.Action("Details", "Group", new { id = g.GroupId })">
            <div class="UserPanelContain">
                <div class="UserPanel">
                    @g.Name
                </div>
            </div>
        </a>
    }
    } else
    {
        <b>Join some groups</b>
    }

    <div class="NavArrows Right">
        <a class="Icon RightArrow"></a>
    </div>
</div>

<div class="row">
    @if(Model.potentialGroups.Count!=0) {
        foreach(var group in Model.potentialGroups) {
            List<UsersToGroups> members = group.Members.Cast<UsersToGroups>().ToList();
            <div class="four columns">
                <div class="row">
                    <div class="twelve columns">
                        @group.Name
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        @foreach(UsersToGroups member in members) {
                            <div class="twelve columns">
                                @member.User.UserName
                            </div>
                        }
                    </div>
                    <div class="six columns">
                        <div class="twelve columns">
                            Games Here
                            </div>
                            @*@foreach(UsersToGroups member in members) {
                <div class="twelve columns">

                </div>
            }*@
                        </div>
                </div>
            </div>
        }
    } else {
    <b>Need potential groups to join... </b>
}
</div>