@{
    ViewBag.Title = "Home Page";
}

<div class="row HomePageUserScroller">
    <div class="NavArrows Left">
        <a class="Icon LeftArrow"></a>
    </div>
    <a href="@Url.Action("Index","Group")">
        <div class="UserPanelContain">
            <div class="UserPanel">
                User info 1
            </div>
        </div>
    </a>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 2
        </div>
    </div>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 3
        </div>
    </div>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 4
        </div>
    </div>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 5
        </div>
    </div>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 6
        </div>
    </div>

    <div class="UserPanelContain">
        <div class="UserPanel">
            User info 7
        </div>
    </div>

    <div class="NavArrows Right">
        <a class="Icon RightArrow"></a>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />