@model HackPSU_2016.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row HomePageUserScroller">
    <div class="NavArrows Left">
        <a class="Icon LeftArrow"></a>
    </div>
    
    @if (Model.joinedGroups.Count != 0)
    {
    foreach (var g in Model.joinedGroups)
    {
        <a href="@Url.Action("Details", "Group", new { id = g.GroupId })">
            <div class="UserPanelContain">
                <div class="UserPanel">
                    @g.Name
                </div>
            </div>
        </a>
    }
    } else
    {
        <b>Join some groups</b>
    }

    <div class="NavArrows Right">
        <a class="Icon RightArrow"></a>
    </div>
</div>

@if (Model.potentialGroups.Count != 0)
{
foreach (var g in Model.potentialGroups)
{
    <div class="row">
        @g.Name
    </div>
}
}
else
{
    <b>Need potential groups to join... </b>
}