
@{
    ViewBag.Title = "Group for ???";
}

<div class="row">
    <div class="two columns GroupLogo">
        <div></div>
    </div>
    <div class="ten columns GroupInfo">
        <div class="row GroupName">
            Group Name
        </div>
        <div class="row GroupDescription">
            Group DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup DescriptionGroup Description
        </div>
    </div>
</div>

<div class="row GroupData">
    <div class="eight columns PlayerChat">
        <div class="row">
            Chat Window
        </div>
        <div class="row ChatContain">
            @{for(int x = 1;x<=100;x++) {
                    <div class="row">
                        <div class="twelve columns">
                            <span></span>
                            Chat @x
                        </div>
                    </div>
                } }
        </div>
        <div class="ChatInputContain">
            <input type="text" value="Type Shit Here" />
        </div>
    </div>
    <div class="four columns PlayerList">
        @{for(int x = 1;x<=15;x++) {
            <div class="row">            
                <div class="twelve columns">
                    <span></span>
                    Player @x
                </div>
        </div>
        } }
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

